rules_version = '2';

// Craft rules based on data in your Firestore database
// allow write: if firestore.get(
//    /databases/(default)/documents/users/$(request.auth.uid)).data.isAdmin;
service firebase.storage {
    match /b/{bucket}/o {
        // Regra específica para a pasta de fotos de perfil
        match /profile_pictures/{userId} {

            // Qualquer pessoa pode ver as fotos de perfil (público)
            allow read: if true;

        // Apenas o utilizador autenticado e cujo UID coincide com o nome do ficheiro pode escrever ou apagar
        allow write, delete: if request.auth != null && request.auth.uid == userId;
    }
}
}
